/* import google font to use in app */
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

/* set font to google font and back up */
body {
    font-family: 'Bungee', sans-serif;
    font-size: 12pt;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.text-center {
    text-align: center;
}

/* Fixed layout for the application */
/* dark grey background with pink border */
#app {
    display:block;
    margin: auto;
    max-width: 345px;
    background: #1b1b1e;
    border: 3px solid #C82586;
}
/* custom logo */
#logo {
    width: 35%;
    display: block;
    margin: auto;
    padding-top: 10px;
}

/* Main game area styling */
/* black background */
article {
    overflow: auto;
    color: #1b1b1e;
    padding: 0.5rem;
    position: relative; 
}

article h2 {
    margin: 0;
}

/* information text above board */
.info {
    color:#A9BCD0;
    font-size: 0.85rem;
}

h4 {
    margin: 4px 0;
}
/* change to crosshair to indicate clickable */
#stage {
    cursor: crosshair;
}

/* Footer styling */
footer {
    background: #1b1b1e;
    border-top: 3px solid #C82586;
    color: #ffffff;
    font-size: 0.7rem;
    padding:0.5rem 0.3rem;
}

footer:after {
    content: ' ';
    display: table;
    clear: both;
}

/* result text shown when game finished */
.result {
    color: #f5bb00;
    text-align: center;
    margin-bottom: 10px;
}

/* button styling */
button {
    font-family: 'Bungee', sans-serif;
    font-size: 1rem;
    background-color:#4EEAF6;
    width: 98%;
    height: 40px;
    margin:auto;
    display:block;
    border-radius: 5px;
    
}

button:hover {
    background-color: #C82586; 
}

